*{
    margin: 0px;
    padding: 0px;
    height: 50%;

}

nav{
    height: auto;
    width: auto;
    padding: 20px;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center
    
}

nav ul li{
    display: inline;
    padding-left: 10px;

    border-left: 1px solid black ;

}
header{
    display: flex;
    background-color: #ccc;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#lo{
   background-color: #ccc;
    display:flex;
    padding: 5px;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    padding: 5px;
    width: 100%;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
#boxes{
    height: 100px;
}
#boxes section{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
    height: 100%;


}
footer{
    background-color: #ccc;
    display: flex;
}

